<h1>Kontakty a objednávky</h1>
<br>
<br>
<br>
<br>
<br>
<p> Lorem ipsum Lorem ipsum</p>
<p> Lorem ipsum Lorem ipsum</p>
<p> Lorem ipsum Lorem ipsum</p>
<p> Lorem ipsum</p>
<br>
<br>
<br>
<br>
<%= image_tag "mapa.png", class: "uvodni"%>
<br>
<br>
<br>
<br>